<body>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/project'>Project</a>
    
    <h1> Who am !</h1>
    <p>
        lets go know about me brooo <a 
        href='https://www.ceos3c.com'>ceos3c.com</a
        >!
    </p>
</body>