<body>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/project'>Project</a>
    <h1>Project</h1>
    <ul>
        <li>instrument</li>
        <li>Microcontroller project</li>
    </ul>
</body>